<launch>
  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo"
   args="$(find double_turtlebot3s_sim)/turtlebot3_description/world/turtlebot3_world.world" respawn="false" output="screen" />

  <!-- include our robots -->
  <include file="$(find double_turtlebot3s_sim)/launch/robots.launch"/>
</launch>